// BEGIN: Alerts
// @source base/ui-patterns/_alerts.scss
// --------------------------------------------------

.alert {

	border: 1px solid transparent;
	border-radius: $alert-border-radius;
	margin-bottom: $line-height-computed;
	padding: $alert-padding;

	h4 {
		color: inherit;
		margin-top: 0;
	}

	.alert-anchor {
		font-weight: $alert-anchor-font-weight;
	}

	> p, > ul {
		margin-bottom: 0;
	}

	> p + p {
		margin-top: 5px;
	}
}

// BEGIN: Alerts (Dismissible)
// @source base/ui-patterns/_alerts.scss
// --------------------------------------------------

.alert-dismissible {

	padding-right: ($alert-padding + 20);

	.close {
		color: inherit;
		position: relative;
		right: -21px;
		top: -2px;
	}
}

// BEGIN: Alert Variations
// @source base/ui-patterns/_alerts.scss
// --------------------------------------------------

.alert-danger {
	@include m-alert-variant( $alert-danger-background-color, $alert-danger-border-color, $alert-danger-font-color );
}

.alert-info {
	@include m-alert-variant( $alert-info-background-color, $alert-info-border-color, $alert-info-font-color );
}

.alert-success {
	@include m-alert-variant( $alert-success-background-color, $alert-success-border-color, $alert-success-font-color );
}

.alert-warning {
	@include m-alert-variant( $alert-warning-background-color, $alert-warning-border-color, $alert-warning-font-color );
}