// BEGIN: Breadcrumbs
// @source base/ui-patterns/_breadcrumbs.scss
// --------------------------------------------------

.breadcrumb {
	
	background-color: $breadcrumb-background-color;
	border-radius: $border-radius-base;
	list-style: none;
	margin-bottom: $line-height-computed;
	padding: $breadcrumb-vertical-padding $breadcrumb-horizontal-padding;
	
	> li {
		
		display: inline-block;
	
		+ li:before {
			
			color: $breadcrumb-font-color;
			content: "#{$breadcrumb-separator}\00a0";
			padding: 0 5px;
		}
	}
	
	> .active {
		color: $breadcrumb-font-color-active;
	}
}