// Button Groups
// @source base/ui-patterns/ _button-groups.scss
// --------------------------------------------------

.button-group, .button-group-vertical {

	display: inline-block;
	position: relative;
	vertical-align: middle;
	 
	> .button {
		
		float: left;
		position: relative;

		&:hover, &:focus, &:active, &.active {
			z-index: 2;
		}
	}
}

.button-group {
	
	.button + .button, .button + .button-group, .button-group + .button, .button-group + .button-group {
		margin-left: -1px;
	}
}

.button-toolbar {
 
	margin-left: -5px;

	@include m-clearfix;

	.button-group, .input-group {
		float: left;
	}

	> .button, > .button-group, > .input-group {
		margin-left: 5px;
	}
}

.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}

.button-group > .button:first-child {
	
	margin-left: 0;
	
	&:not(:last-child):not(.dropdown-toggle) {
		@include m-border-radius-right(0);
	}
}

.button-group > .button:last-child:not(:first-child), .button-group > .dropdown-toggle:not(:first-child) {
	@include m-border-radius-left(0);
}

.button-group > .button-group {
	float: left;
}

.button-group > .button-group:not(:first-child):not(:last-child) > .button {
	border-radius: 0;
}

.button-group > .button-group:first-child {

	> .button:last-child, > .dropdown-toggle {
		@include m-border-radius-right(0);
	}
}

.button-group > .button-group:last-child > .button:first-child {
	@include m-border-radius-left(0);
}

.button-group .dropdown-toggle:active, .button-group.open .dropdown-toggle {
	outline: 0;
}

// Button Groups (Justified)
// @source base/ui-patterns/ _button-groups.scss
// --------------------------------------------------

.button-group-justified {
	
	border-collapse: separate;
	display: table;
	table-layout: fixed;
	width: 100%;

	> .button, > .button-group {
		display: table-cell;
		float: none;
		width: 1%;
	}

	> .button-group .button {
		width: 100%;
	}

	> .button-group .dropdown-menu {
		left: auto;
	}
}

// Button Groups (Vertical)
// @source base/ui-patterns/ _button-groups.scss
// --------------------------------------------------

.button-group-vertical {

	> .button, > .button-group, > .button-group > .button {
		display: block;
		float: none;
		max-width: 100%;
		width: 100%;
	}

	> .button-group {

		@include m-clearfix;

		> .button {
			float: none;
		}
	}

	> .button + .button, > .button + .button-group, > .button-group + .button, > .button-group + .button-group {
		margin-left: 0;
		margin-top: -1px;
	}
}

.button-group-vertical > .button {

	&:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

	&:first-child:not(:last-child) {
		border-top-right-radius: $border-radius-base;
		@include m-border-radius-bottom(0);
	}

	&:last-child:not(:first-child) {
		border-bottom-left-radius: $border-radius-base;
		@include m-border-radius-top(0);
	}
}

.button-group-vertical > .button-group:not(:first-child):not(:last-child) > .button {
	border-radius: 0;
}

.button-group-vertical > .button-group:first-child:not(:last-child) {
	
	> .button:last-child, > .dropdown-toggle {
		@include m-border-radius-bottom(0);
	}
}

.button-group-vertical > .button-group:last-child:not(:first-child) > .button:first-child {
	@include m-border-radius-top(0);
}

// Button Group Dropdowns
// @source base/ui-patterns/ _button-groups.scss
// --------------------------------------------------

.button-group > .button + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
}

.button-group > .button-lg + .dropdown-toggle {
	padding-left: 12px;
	padding-right: 12px;
}

.button-group.open .dropdown-toggle {
	
	@include m-box-shadow( inset 0 3px 5px rgba(0, 0, 0, .125) );

	&.button-link {
		@include m-box-shadow(none);
	}
}

.button .caret {
	margin-left: 0;
}

.button-lg .caret {
	border-width: $caret-width-lg $caret-width-lg 0;
	border-bottom-width: 0;
}

.dropup .button-lg .caret {
	border-width: 0 $caret-width-lg $caret-width-lg;
}

// Button Group Overrides
// @source base/ui-patterns/ _button-groups.scss
// --------------------------------------------------

[data-toggle="buttons"] {

	> .button, > .button-group > .button {

		input[type="radio"], input[type="checkbox"] {
			clip: rect(0,0,0,0);
			pointer-events: none;
			position: absolute;
		}
	}
}

// Button Group Sizing
// @source base/ui-patterns/ _button-groups.scss
// --------------------------------------------------

.button-group-xs > .button { 
	@extend .button-xs; 
}

.button-group-sm > .button { 
	@extend .button-sm; 
}

.button-group-lg > .button { 
	@extend .button-lg; 
}