// Button Definition
// @source base/ui-patterns/ _buttons.scss
// --------------------------------------------------

.button {
	
	background-image: none;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	font-weight: $button-font-weight;
	margin-bottom: 0;
	text-align: center;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;

	@include m-button-size( $padding-vertical-base, $padding-horizontal-base, $font-size-base, $line-height-base, $border-radius-base );
	@include m-user-select(none);

	&, &:active, &.active {
		
		&:focus, &.focus {
			@include m-tab-focus;
		}
	}

	&:hover, &:focus, &.focus {
		color: $button-default-font-color;
		text-decoration: none;
	}

	&:active, &.active {

		background-image: none;
		outline: 0;

		@include m-box-shadow( inset 0 3px 5px rgba(0, 0, 0, .125) );
	}

	&.disabled, &[disabled], fieldset[disabled] & {
		
		cursor: $cursor-disabled;
		pointer-events: none; 
		
		@include m-box-shadow(none);
		@include m-opacity(.65);		
	}
}

// Button Anchors
// @source base/ui-patterns/ _buttons.scss
// --------------------------------------------------

.button-anchor {

	border-radius: 0;
	color: $anchor-font-color;
	font-weight: normal;
	
	&, &:active, &.active, &[disabled], fieldset[disabled] & {
		background-color: transparent;
		@include m-box-shadow(none);
	}

	&, &:hover, &:focus, &:active {
		border-color: transparent;
	}

	&:hover, &:focus {
		background-color: transparent;
		color: $anchor-font-color-hover;
		text-decoration: underline;
	}

	&[disabled], fieldset[disabled] & {

		&:hover, &:focus {
			color: $button-anchor-font-color-disabled;
			text-decoration: none;
		}
	}
}

// Button Blocks
// @source base/ui-patterns/ _buttons.scss
// --------------------------------------------------

.button-block {
	display: block;
	width: 100%;
}

.btn-block + .btn-block {
	margin-top: 5px;
}

input[type="submit"], input[type="reset"], input[type="button"] {

	&.btn-block {
		width: 100%;
	}
}

// Button Sizes
// @source base/ui-patterns/ _buttons.scss
// --------------------------------------------------

.button-lg {
	@include m-button-size( $padding-vertical-lg, $padding-horizontal-lg, $font-size-lg, $line-height-lg, $border-radius-lg );
}

.button-sm {
	@include m-button-size( $padding-vertical-sm, $padding-horizontal-sm, $font-size-sm, $line-height-sm, $border-radius-sm );
}

.button-xs {
	@include m-button-size( $padding-vertical-xs, $padding-horizontal-xs, $font-size-sm, $line-height-sm, $border-radius-sm );
}

// Button Variants
// @source base/ui-patterns/ _buttons.scss
// --------------------------------------------------

.button-danger {
	@include m-button-variant( $button-danger-font-color, $button-danger-background-color, $button-danger-border-color );
}

.button-default {
	@include m-button-variant( $button-default-font-color, $button-default-background-color, $button-default-border-color );
}

.button-info {
	@include m-button-variant( $button-info-font-color, $button-info-background-color, $button-info-border-color );
}

.button-primary {
	@include m-button-variant( $button-primary-font-color, $button-primary-background-color, $button-primary-border-color );
}

.button-success {
	@include m-button-variant( $button-success-font-color, $button-success-background-color, $button-success-border-color );
}

.button-warning {
	@include m-button-variant( $button-warning-font-color, $button-warning-background-color, $button-warning-border-color );
}