// BEGIN: Figures
// @source base/ui-patterns/_figures.scss
// --------------------------------------------------


figure {
	margin: 0;
}


img {
	vertical-align: middle;
}

.img-circle {
	border-radius: 50%;
}

.img-responsive {
	@include m-responsive-image;
}

.img-rounded {
	border-radius: $border-radius-lg;
}

.img-thumbnail {

	background-color: $thumbnail-background-color;
	border: 1px solid $thumbnail-border-color;
	border-radius: $thumbnail-border-radius;
	line-height: $line-height-base;
	padding: $thumbnail-padding;

	@include m-responsive-image( inline-block );
	@include m-transition( all .2s ease-in-out );
}

