// BEGIN: Modals
// @source base/ui-patterns/_modals.scss
// --------------------------------------------------

.modal-open {
	overflow: hidden;
}

.modal {

	bottom: 0;
	display: none;
	left: 0;
	outline: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $z-index-modal;
	
	-webkit-overflow-scrolling: touch;

	&.fade .modal-dialog {
	
		@include m-translate( 0, -25% );
		@include m-transition-transform( 0.3s ease-out );
	}

	&.in .modal-dialog { 
		@include m-translate( 0, 0 ) ;
	}
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog {
	margin: 10px;
	position: relative;
	width: auto;
}

.modal-content {
	
	background-clip: padding-box;
	background-color: $modal-content-background-color;
	border: 1px solid $modal-content-border-color-fallback;
	border: 1px solid $modal-content-border-color;
	border-radius: $border-radius-lg;
	outline: 0;
	position: relative;

	@include m-box-shadow( 0 3px 9px rgba(0, 0, 0, .5 ) );
}

.modal-backdrop {

	background-color: $modal-backdrop-background-color;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&.fade { 
		@include m-opacity(0); 
	}

	&.in { 
		@include m-opacity( $modal-backdrop-opacity ); 
	}
}

.modal-header {
	
	border-bottom: 1px solid $modal-header-border-color;
	min-height: ( $modal-title-padding + $modal-title-line-height );
	padding: $modal-title-padding;
}

.modal-header .close {
	margin-top: -2px;
}

.modal-title {
	line-height: $modal-title-line-height;
	margin: 0;
}

.modal-body {
	padding: $modal-inner-padding;
	position: relative;
}

.modal-footer {

	border-top: 1px solid $modal-footer-border-color;
	padding: $modal-inner-padding;
	text-align: right;

	@include m-clearfix;

	.button + .button {
		margin-bottom: 0;
		margin-left: 5px;
	}

	.button-group .button + .button {
		margin-left: -1px;
	}

	.button-block + .button-block {
		margin-left: 0;
	}
}

.modal-scrollbar-measure {
	height: 50px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
	width: 50px;
}

@media (min-width: $screen-sm-min) {

	.modal-dialog {
		margin: 30px auto;
		width: $modal-width-md;
	}

	.modal-content {
		@include m-box-shadow( 0 5px 15px rgba(0, 0, 0, .5) );
	}

	.modal-sm { 
		width: $modal-width-sm; 
	}
}

@media (min-width: $screen-md-min) {
	.modal-lg { width: $modal-width-lg; }
}