// BEGIN: Pager Pagination
// @source base/ui-patterns/_pager.scss
// --------------------------------------------------

.pager {

	list-style: none;
	margin: $line-height-computed 0;
	padding-left: 0;
	text-align: center;

	@include m-clearfix;

	li {
		display: inline;

		> a, > span {
			background-color: $pager-background-color;
			border: 1px solid $pager-border-color;
			border-radius: $pager-border-radius;
			display: inline-block;
			padding: 5px 14px;
		}

		> a:hover, > a:focus {
			background-color: $pager-background-color-hover;
			text-decoration: none;
		}
	}

	.next {

		> a, > span {
			float: right;	
		}
	}

	.previous {
	
		> a, > span {
			float: left;
		}
	}

	.disabled {

		> a, > a:hover, > a:focus, > span {
			background-color: $pager-background-color;
			color: $pager-font-color-disabled;
			cursor: $cursor-disabled;
		}
	}
}