// Panels
// @source base/ui-patterns/_panels.scss
// --------------------------------------------------

.panel {
	
	@include m-color( background-color, $panel-background-color, 1 );
	
	border: 1px solid transparent;
	border-radius: $panel-border-radius;
	margin-bottom: $line-height-computed;
	
	@include m-box-shadow( 0 1px 1px rgba(0, 0, 0, .05) );
}

.panel-body {
	
	padding: $panel-body-padding;
	
	@include m-clearfix;
}

.panel-heading {
	
	border-bottom: 1px solid transparent;
	padding: $panel-heading-padding;

	@include m-border-radius-top( ( $panel-border-radius - 1 ) );

	> .dropdown .dropdown-toggle {
		color: inherit;
	}
}

.panel-title {
	
	@include m-font-size( ( $font-size-base * 1.125 ) );
	
	color: inherit;
	margin-bottom: 0;
	margin-top: 0;

	> a {
		color: inherit;
	}
}

.panel-footer {

	background-color: $panel-background-color-footer;
	padding: $panel-footer-padding;
	border-top: 1px solid $panel-border-color-inner;

	@include m-border-radius-bottom( ( $panel-border-radius - 1 ) );
}

.panel {

	> .list-group, > .panel-collapse > .list-group {

		margin-bottom: 0;

		.list-group-item {
			border-radius: 0;
			border-width: 1px 0;
		}

		&:first-child {

			.list-group-item:first-child {

				border-top: 0;
				@include m-border-radius-top( ( $panel-border-radius - 1 ) );
			}
		}

		&:last-child {

			.list-group-item:last-child {

				border-bottom: 0;
				@include m-border-radius-bottom( ( $panel-border-radius - 1 ) );
			}
		}
	}
}

.panel-heading + .list-group {

	.list-group-item:first-child {
		border-top-width: 0;
	}
}

.list-group + .panel-footer {
	border-top-width: 0;
}

// Panel Groups
// @source base/ui-patterns/_panels.scss
// --------------------------------------------------

.panel-group {

	margin-bottom: $line-height-computed;

	.panel {
		
		border-radius: $panel-border-radius;
		margin-bottom: 0;

		+ .panel {
			margin-top: 5px;
		}
	}

	.panel-heading {
		
		border-bottom: 0;

		+ .panel-collapse > .panel-body, + .panel-collapse > .list-group {
			border-top: 1px solid $panel-border-color-inner;
		}
	}

	.panel-footer {
		
		border-top: 0;
		
		+ .panel-collapse .panel-body {
			border-bottom: 1px solid $panel-border-color-inner;
		}
	}
}

// Panel Tables
// @source base/ui-patterns/_panels.scss
// --------------------------------------------------

.panel {

	> .table, > .table-responsive > .table, > .panel-collapse > .table {

		margin-bottom: 0;

		caption {
			padding-left: $panel-body-padding;
			padding-right: $panel-body-padding;
		}
	}

	> .table:first-child, > .table-responsive:first-child > .table:first-child {

		@include m-border-radius-top( ( $panel-border-radius - 1 ) );

		> thead:first-child, > tbody:first-child {

			> tr:first-child {
	
				border-top-left-radius: ( $panel-border-radius - 1 );
				border-top-right-radius: ( $panel-border-radius - 1 );

				td:first-child, th:first-child {
					border-top-left-radius: ( $panel-border-radius - 1 );
				}

				td:last-child, th:last-child {
					border-top-right-radius: ( $panel-border-radius - 1 );
				}
			}
		}
	}

	> .table:last-child, > .table-responsive:last-child > .table:last-child {
		
		@include m-border-radius-bottom( ( $panel-border-radius - 1 ) );

		> tbody:last-child, > tfoot:last-child { 
		
			> tr:last-child {
			
				border-bottom-left-radius: ( $panel-border-radius - 1 );
				border-bottom-right-radius: ( $panel-border-radius - 1 );

				td:first-child, th:first-child {
					border-bottom-left-radius: ( $panel-border-radius - 1 );
				}
				
				td:last-child, th:last-child {
					border-bottom-right-radius: ( $panel-border-radius - 1 );
				}
			}
		}
	}
	
	> .panel-body + .table, > .panel-body + .table-responsive, > .table + .panel-body, > .table-responsive + .panel-body {
		border-top: 1px solid $table-border-color;
	}
	
	> .table > tbody:first-child > tr:first-child th, > .table > tbody:first-child > tr:first-child td {
		border-top: 0;
	}
	
	> .table-bordered, > .table-responsive > .table-bordered {
	
		border: 0;
		
		> thead, > tbody, > tfoot { 
	
			> tr { 
	
				> th:first-child, > td:first-child {
					border-left: 0;
				}
	
				> th:last-child, > td:last-child {
					border-right: 0;
				}
			}
		}
	
		> thead, > tbody {
	
			> tr:first-child {
				
				> td, > th {
					border-bottom: 0;
				}
			}
		}
	
		> tbody, > tfoot {
	
			> tr:last-child {
				
				> td, > th {
					border-bottom: 0;
				}
			}
		}
	}

	> .table-responsive {
		border: 0;
		margin-bottom: 0;
	}
}

// Panel Variants
// @source base/ui-patterns/_panels.scss
// --------------------------------------------------

.panel-danger {
	@include m-panel-variant( $panel-danger-border-color, $panel-danger-font-color, $panel-danger-heading-background-color, $panel-danger-border-color );
}

.panel-default {
	@include m-panel-variant( $panel-default-border-color, $panel-default-font-color, $panel-default-heading-background-color, $panel-default-border-color );
}

.panel-info {
	@include m-panel-variant( $panel-info-border-color, $panel-info-font-color, $panel-info-heading-background-color, $panel-info-border-color );
}

.panel-primary {
	@include m-panel-variant( $panel-primary-border-color, $panel-primary-font-color, $panel-primary-heading-background-color, $panel-primary-border-color );
}

.panel-success {
	@include m-panel-variant( $panel-success-border-color, $panel-success-font-color, $panel-success-heading-background-color, $panel-success-border-color );
}

.panel-warning {
	@include m-panel-variant( $panel-warning-border-color, $panel-warning-font-color, $panel-warning-heading-background-color, $panel-warning-border-color );
}