// Popovers
// @source base/ui-patterns/_popovers.scss
// --------------------------------------------------

.popover {
	
	background-color: $popover-background-color;
	background-clip: padding-box;
	border: 1px solid $popover-border-color-fallback;
	border: 1px solid $popover-border-color;
	border-radius: $border-radius-lg;
	display: none;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: $line-height-base;
	max-width: $popover-max-width;
	padding: 1px;
	position: absolute;
	left: 0;
	text-align: left;
	top: 0;
	white-space: normal;
	z-index: $z-index-popovers;
	
	@include m-box-shadow( 0 5px 10px rgba(0, 0, 0, .2) );
	
	&.bottom { 
		margin-top: $popover-arrow-width; 
	}
	
	&.left { 
		margin-left: -$popover-arrow-width; 
	}

	&.right { 
		margin-left: $popover-arrow-width; 
	}

	&.top { 
		margin-top: -$popover-arrow-width; 
	}
}

.popover-title {
	background-color: $popover-background-color-title;
	border-bottom: 1px solid darken( $popover-background-color-title, 5% );
	border-radius: ( $border-radius-lg - 1 ) ( $border-radius-lg - 1 ) 0 0;
	font-size: $font-size-base;
	margin: 0;
	padding: 8px 14px;
}

.popover-content {
	padding: 9px 14px;
}

.popover > .arrow {

	&, &:after {
		border-color: transparent;
		border-style: solid;
		display: block;
		height: 0;
		position: absolute;
		width: 0;
	}
}

.popover > .arrow {
	border-width: $popover-arrow-outer-width;
}

.popover > .arrow:after {
	border-width: $popover-arrow-width;
	content: "";
}

.popover {

	&.top > .arrow {
		border-top-color: $popover-arrow-outer-color-fallback;
		border-top-color: $popover-arrow-outer-color;
		bottom: -$popover-arrow-outer-width;
		left: 50%;
		margin-left: -$popover-arrow-outer-width;
		border-bottom-width: 0;
		
		&:after {
			border-bottom-width: 0;
			border-top-color: $popover-arrow-color;
			bottom: 1px;
			content: " ";
			margin-left: -$popover-arrow-width;
		}
	}

	&.right > .arrow {
		border-left-width: 0;
		border-right-color: $popover-arrow-outer-color-fallback;
		border-right-color: $popover-arrow-outer-color;
		left: -$popover-arrow-outer-width;
		margin-top: -$popover-arrow-outer-width;
		top: 50%;
		
		&:after {
			border-left-width: 0;
			border-right-color: $popover-arrow-color;
			bottom: -$popover-arrow-width;
			content: " ";
			left: 1px;
		}
	}
	
	&.bottom > .arrow {
		border-bottom-color: $popover-arrow-outer-color-fallback;
		border-bottom-color: $popover-arrow-outer-color;
		border-top-width: 0;
		left: 50%;
		margin-left: -$popover-arrow-outer-width;
		top: -$popover-arrow-outer-width;
	
		&:after {
			border-bottom-color: $popover-arrow-color;
			border-top-width: 0;
			content: " ";
			top: 1px;
			margin-left: -$popover-arrow-width;
		}
	}
	
	&.left > .arrow {
	
		border-left-color: $popover-arrow-outer-color-fallback;
		border-left-color: $popover-arrow-outer-color;
		border-right-width: 0;
		margin-top: -$popover-arrow-outer-width;
		right: -$popover-arrow-outer-width;
		top: 50%;
		
		&:after {
			border-left-color: $popover-arrow-color;
			border-right-width: 0;
			bottom: -$popover-arrow-width;
			content: " ";
			right: 1px;
		}
	}
}