// Tables
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

table {
	background-color: $table-background-color;
}

caption {
	color: $text-muted-font-color;
	padding-bottom: $table-cell-padding;
	padding-top: $table-cell-padding;
	text-align: left;
}

th {
	text-align: left;
}

.table {
	
	margin-bottom: $line-height-computed;
	max-width: 100%;
	width: 100%;

	> thead, > tbody, > tfoot {

		> tr { 
			
			> th, > td {
				border-top: 1px solid $table-border-color;
				line-height: $line-height-base;
				padding: $table-cell-padding;
				vertical-align: top;
			}
		}
	}

	> thead > tr > th {
		border-bottom: 2px solid $table-border-color;
		vertical-align: bottom;
	}

	> caption + thead, > colgroup + thead, > thead:first-child {

		> tr:first-child {

			> th, > td {
				border-top: 0;
			}
		}
	}

	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}

	.table {
		background-color: $body-background-color;
	}
}

table col[class*="col-"] {
	display: table-column;
	float: none;
	position: static; 
}

table {

	td, th {

		&[class*="col-"] {
			display: table-cell;
			float: none;
			position: static;
		}
	}
}

// Tables (Bordered)
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

.table-bordered {

	border: 1px solid $table-border-color;

	> thead, > tbody, > tfoot {

		> tr { 

			> th, > td {
				border: 1px solid $table-border-color;
			}
		}
	}

	> thead > tr {

		> th, > td {
			border-bottom-width: 2px;
		}
	}
}

// Tables (Condensed)
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

.table-condensed {

	> thead, > tbody, > tfoot {

		> tr { 
			
			> th, > td {
				padding: $table-condensed-cell-padding;
			}
		}
	}
}

// Tables (Hover)
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

.table-hover {

	> tbody > tr:hover {
		background-color: $table-background-color-hover;
	}
}

// Tables (Striped)
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

.table-striped {

	> tbody > tr:nth-child(odd) {
		background-color: $table-background-color-accent;
	}
}

// Tables (Responsive)
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

.table-responsive {
	
	min-height: 0.01%; 
	overflow-x: auto;

	@media screen and (max-width: $screen-xs-max) {

		border: 1px solid $table-border-color;
		margin-bottom: ($line-height-computed * 0.75);
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		width: 100%;

		> .table {

			margin-bottom: 0;

			> thead, > tbody, > tfoot {
			
				> tr {
			
					> th, > td {
						white-space: nowrap;
					}
				}
			}
		}

		> .table-bordered {

			border: 0;

			> thead, > tbody, > tfoot {
			
				> tr {
			
					> th:first-child, > td:first-child {
						border-left: 0;
					}
			
					> th:last-child, > td:last-child {
						border-right: 0;
					}
				}
			}

			> tbody, > tfoot {

				> tr:last-child {

					> th, > td {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

// Table Variations
// @source base/ui-patterns/_tables.scss
// --------------------------------------------------

@include m-table-row-variation( 'active', $table-background-color-active);

@include m-table-row-variation( 'danger', $state-danger-background-color );

@include m-table-row-variation( 'info', $state-info-background-color );

@include m-table-row-variation( 'success', $state-success-background-color );

@include m-table-row-variation( 'warning', $state-warning-background-color );