// Tooltips
// @source base/ui-patterns/_tooltips.scss
// --------------------------------------------------

.tooltip {
	
	display: block;
	font-family: $font-family-base;
	font-size: $font-size-sm;
	font-weight: normal;
	line-height: 1.4;
	position: absolute;
	visibility: visible;
	z-index: $z-index-tooltips;
	
	@include m-opacity(0);

	&.bottom { 
		margin-top: 3px; 
		padding: $tooltip-arrow-width 0; 
	}
	
	&.in { 
		@include m-opacity($tooltip-opacity); 
	}
	
	&.left { 
		margin-left: -3px; 
		padding: 0 $tooltip-arrow-width; 
	}
		
	&.right { 
		margin-left: 3px; 
		padding: 0 $tooltip-arrow-width; 
	}
	
	&.top { 
		margin-top: -3px; 
		padding: $tooltip-arrow-width 0; 
	}
}

.tooltip-inner {
	background-color: $tooltip-background-color;
	border-radius: $border-radius-base;
	color: $tooltip-font-color;
	max-width: $tooltip-max-width;
	padding: 3px 8px;
	text-align: center;
	text-decoration: none;
}

.tooltip-arrow {
	border-color: transparent;
	border-style: solid;
	height: 0;
	position: absolute;
	width: 0;
}

.tooltip {

	&.top .tooltip-arrow {
		border-top-color: $tooltip-arrow-color;
		border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
		bottom: 0;
		left: 50%;
		margin-left: -$tooltip-arrow-width;
	}


	&.right .tooltip-arrow {
		border-right-color: $tooltip-arrow-color;
		border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
		left: 0;
		margin-top: -$tooltip-arrow-width;
		top: 50%;
	}

	&.left .tooltip-arrow {
		border-left-color: $tooltip-arrow-color;
		border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
		margin-top: -$tooltip-arrow-width;
		right: 0;
		top: 50%;
	}
	
	&.bottom .tooltip-arrow {
		border-bottom-color: $tooltip-arrow-color;
		border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
		left: 50%;
		margin-left: -$tooltip-arrow-width;
		top: 0;
	}
}