// Anchors
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

a {
	
	@include m-color( color, $anchor-font-color, 1 );
	
	text-decoration: none;

	&:hover, &:focus {
		
		@include m-color( color, $anchor-font-color-hover, 1 );
		
		text-decoration: $anchor-text-decoration-hover;
	}

	&:focus {
		@include m-tab-focus;
	}
}

// Abbreviations
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

abbr[title], abbr[data-original-title] {
	
	@include m-border-color( border-bottom, 1px, dotted, $abbr-border-color, 1 );
	cursor: help;
}

// Blockquotes
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

blockquote {

	@include m-border-color( border-left, 5px, solid, $blockquote-border-color, 1 );
	@include m-font-size( $blockquote-font-size );
	
	margin: 0 0 $line-height-computed;
	padding: ( $line-height-computed / 2 ) $line-height-computed;

	p, ul, ol {

		&:last-child {
			margin-bottom: 0;
		}
	}

	&:before {
		content: '\2014 \00A0';
	}
}

.blockquote-reverse, blockquote.pull-right {
	
	@include m-border-color( border-right, 5px, solid, $blockquote-border-color, 1 );
	
	border-left: 0;
	padding-left: 0;
	padding-right: 15px;
	text-align: right;

	&:before { 
		content: '';
	}

	&:after {
		content: '\00A0 \2014';
	}
}

// Body Text
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

p {
	margin: 0 0 ( $line-height-computed / 2 );
}

.lead {
	
	@include m-font-size( floor( ( $font-size-base * 1.15 ) ) );
	
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: $line-height-computed;
	
	@media (min-width: $screen-sm-min) {
		@include m-font-size( ( $font-size-base * 1.5 ) );
	}
}

// Headings
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  	
  	@include m-color( color, $headings-font-color, 1 );
  	
  	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;

	small, .small {
		
		@include m-color( color, $headings-font-color-small, 1 );
		
		font-weight: normal;
		line-height: 1;
	}
}

h1, .h1, h2, .h2, h3, .h3 {
  
  margin-bottom: ( $line-height-computed / 2 );
  margin-top: $line-height-computed;
  
	small, .small {
		font-size: 65%;
	}
}

h4, .h4, h5, .h5, h6, .h6 {
	
	margin-bottom: ( $line-height-computed / 2 );
	margin-top: ( $line-height-computed / 2 );
	
	small, .small {
		font-size: 75%;
	}
}
	
h1, .h1 { 
	@include m-font-size( $font-size-h1 );
}

h2, .h2 { 
	@include m-font-size( $font-size-h2 );
}

h3, .h3 { 
	@include m-font-size( $font-size-h3 );
}

h4, .h4 { 
	@include m-font-size( $font-size-h4 );
}

h5, .h5 { 
	@include m-font-size( $font-size-h5 );
}

h6, .h6 { 
	@include m-font-size( $font-size-h6 );
}

// Horizontal Rules
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

hr {

	border: 0;
	margin-bottom: $line-height-computed;
	margin-top: $line-height-computed;
	
	@include m-border-color( border-top, 1px, solid, $hr-border-color, 1 );
}

// Miscellaneous
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

address {
	font-style: normal;
	line-height: $line-height-base;
	margin-bottom: $line-height-computed;
}

.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

mark, .mark {
  background-color: $state-warning-background-color;
  padding: .2em;
}

// Utilities
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

.hide-text {
	@include m-hide-text;
}

small, .small {
  font-size: floor( ( 100% * $font-size-sm / $font-size-base ) );
}

.text-capitalize {
	text-transform: capitalize;
}
.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-left {
	text-align: left;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-muted {
	color: $text-muted-font-color;
}
.text-nowrap {
	white-space: nowrap;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

// Variations
// @source base/ui-patterns/_typography.scss
// --------------------------------------------------

@include m-text-emphasis-variant( '.text-danger', $state-danger-font-color );

@include m-text-emphasis-variant( '.text-info', $state-info-font-color);

@include m-text-emphasis-variant( '.text-primary', $primary-color );

@include m-text-emphasis-variant( '.text-success', $state-success-font-color );

@include m-text-emphasis-variant( '.text-warning', $state-warning-font-color );

.background-primary {
	@include m-color( color, $color-white, 1 );
}

@include m-background-variant( '.background-danger', $state-danger-background-color );

@include m-background-variant( '.background-info', $state-info-background-color );

@include m-background-variant( '.background-primary', $primary-color );

@include m-background-variant( '.background-success', $state-success-background-color );

@include m-background-variant( '.background-warning', $state-warning-background-color );