// Clearfix
// @source base/ui-patterns/_utilities.scss
// --------------------------------------------------

.clearfix {
	@include m-clearfix;
}

// Floats
// @source base/ui-patterns/_utilities.scss
// --------------------------------------------------

.center-block {
	@include m-center-block;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

// Positioning
// @source base/ui-patterns/_utilities.scss
// --------------------------------------------------

.fixed {
	position: fixed;
}