$rem-base: 16px !default;

// Rem Calculation
// @source base/functions/_calculations.scss
// --------------------------------------------------

@function rem-calculation( $values, $base-value: $rem-base ) {
	
	$max: length($values);

	@if $max == 1 { 
		@return rem-conversion( nth($values, 1), $base-value ); 
	}

	$rem-values: ();

	@for $i from 1 through $max {
		$rem-values: append( $rem-values, rem-conversion( nth($values, $i), $base-value ) );
	}

	@return $rem-values;
}

// REM Conversion
// @source base/functions/_calculations.scss
// --------------------------------------------------

@function rem-conversion( $value, $base-value: $rem-base )  {
	
	$value: strip-units($value) / strip-units($base-value) * 1rem;

	@if ($value == 0rem) { 
		$value: 0; 
	}
	
	@return $value;
}