// BEGIN: Alert Variant
// @source base/ui-patterns/_alerts.scss
// --------------------------------------------------

@mixin m-alert-variant( $background, $border, $text-color ) {

	background-color: $background;
	border-color: $border;
	color: $text-color;

	hr {
		border-top-color: darken($border, 5%);
	}

	.alert-anchor {
		color: darken($text-color, 10%);
	}
}