// Clearfix
// @source base/mixins/_clearfix.scss
// --------------------------------------------------

@mixin m-clearfix() {

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
