// Container Fixed
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-container-fixed( $gutter: $grid-gutter-width ) {
	
	margin-left: auto;
	margin-right: auto;
	padding-right: ( $gutter / 2 );
	padding-left:  ( $gutter / 2 );
	
	@include m-clearfix;
}

// Create Row
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-row( $gutter: $grid-gutter-width ) {
	
	margin-left:  ( $gutter / -2 );
	margin-right: ( $gutter / -2 );
	
	@include m-clearfix;
}

// Create XS Column
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-xs-column( $columns, $gutter: $grid-gutter-width ) {
	float: left;
	min-height: 1px;
	padding-left:  ( $gutter / 2 );
	padding-right: ( $gutter / 2 );
	position: relative;
	width: percentage( ( $columns / $grid-columns ) );
}

// Create XS Column Offset
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-xs-column-offset( $columns ) {
	margin-left: percentage( ( $columns / $grid-columns ) );
}

// Create XS Column Pull
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-xs-column-pull( $columns ) {
	right: percentage( ( $columns / $grid-columns ) );
}

// Create XS Column Push
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-xs-column-push( $columns ) {
	left: percentage( ( $columns / $grid-columns ) );
}

// Create SM Column
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-sm-column( $columns, $gutter: $grid-gutter-width ) {
	
	min-height: 1px;
	padding-left:  ( $gutter / 2 );
	padding-right: ( $gutter / 2 );
	position: relative;

	@media ( min-width: $screen-sm-min ) {
		float: left;
		width: percentage( ( $columns / $grid-columns ) );
	}
}

// Create SM Column Offset
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-sm-column-offset( $columns ) {

	@media ( min-width: $screen-sm-min ) {
		margin-left: percentage( ( $columns / $grid-columns ) );
	}
}

// Create SM Column Pull
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-sm-column-pull( $columns ) {

	@media ( min-width: $screen-sm-min ) {
		right: percentage( ( $columns / $grid-columns ) );
	}
}

// Create SM Column Push
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-sm-column-push( $columns ) {

	@media ( min-width: $screen-sm-min ) {
		left: percentage( ( $columns / $grid-columns ) );
	}
}

// Create MD Column
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-md-column( $columns, $gutter: $grid-gutter-width ) {

	min-height: 1px;
	padding-left:  ( $gutter / 2 );
	padding-right: ( $gutter / 2 );
	position: relative;

	@media ( min-width: $screen-md-min ) {
		float: left;
		width: percentage( ( $columns / $grid-columns ) );
	}
}

// Create MD Column Offset
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-md-column-offset( $columns ) {

	@media ( min-width: $screen-md-min ) {
		margin-left: percentage( ( $columns / $grid-columns ) );
	}
}

// Create MD Column Pull
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-md-column-pull( $columns ) {

	@media ( min-width: $screen-md-min ) {
		right: percentage( ( $columns / $grid-columns ) );
	}
}

// Create MD Column Push
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-md-column-push( $columns ) {

	@media ( min-width: $screen-md-min ) {
		left: percentage( ( $columns / $grid-columns ) );
	}
}

// Create LG Column
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-lg-column( $columns, $gutter: $grid-gutter-width ) {

	min-height: 1px;
	padding-left:  ( $gutter / 2 );
	padding-right: ( $gutter / 2 );
	position: relative;
	
	@media ( min-width: $screen-lg-min ) {
		float: left;
		width: percentage( ( $columns / $grid-columns ) );
	}
}

// Create LG Column Offset
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-lg-column-offset( $columns ) {

	@media ( min-width: $screen-lg-min ) {
		margin-left: percentage( ( $columns / $grid-columns ) );
	}
}

// Create LG Column Pull
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-lg-column-pull( $columns ) {

	@media ( min-width: $screen-lg-min ) {
		right: percentage( ( $columns / $grid-columns ) );
	}
}

// Create LG Column Push
// @source base/mixins/_grid.scss
// --------------------------------------------------

@mixin m-create-lg-column-push( $columns ) {

	@media ( min-width: $screen-lg-min ) {
		left: percentage( ( $columns / $grid-columns ) );
	}
}