// Panel Variant
// @source base/mixins/_panels.scss
// --------------------------------------------------

@mixin m-panel-variant( $border-color, $heading-font-color, $heading-background-color, $heading-border-color) {
  
	border-color: $border-color;
	
	& > .panel-heading {
	
		background-color: $heading-background-color;
		border-color: $heading-border-color;
		color: $heading-font-color;
		
		+ .panel-collapse > .panel-body {
			border-top-color: $border-color;
		}
	
		.badge {
			background-color: $heading-font-color;
			color: $heading-background-color;
			
		}
	}
	
	& > .panel-footer {
		
		+ .panel-collapse > .panel-body {
			border-bottom-color: $border-color;
		}
	}
}