// Font Size
// @source base/mixins/_typography.scss
// --------------------------------------------------

@mixin m-font-size( $size, $is-important: false ) {
	
	$size: if ( unitless( $size ), $size, $size / 1px );
	
	@if $is-important {
		font-size: $size + px !important;
		font-size: ( $size / strip-units( $font-size-base ) ) + rem !important;
	} @else {
		font-size: $size + px;
		font-size: ( $size / strip-units( $font-size-base ) ) + rem;
	}
}

// Text Emphasis Variant
// @source base/mixins/_typography.scss
// --------------------------------------------------

@mixin m-text-emphasis-variant( $parent, $color ) {
	
	#{$parent} {
		@include m-color( color, $color, 1 );
	}
	
	a#{$parent}:hover {
		@include m-color( color, darken( $color, 10% ), 1 );
	}
}

// Hide Text
// @source base/mixins/_typography.scss
// --------------------------------------------------

@mixin m-hide-text() {
	background-color: transparent;
	border: 0;
	color: transparent;
	font: #{0/0} a;
	text-shadow: none;
}

// Text Overflow
// @source base/mixins/_typography.scss
// --------------------------------------------------

@mixin m-text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
