// Reset Filter
// @source base/mixins/_utilities.scss
// --------------------------------------------------

@mixin m-reset-filter() {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

// Resizable
// @source base/mixins/_utilities.scss
// --------------------------------------------------

@mixin m-resizable( $direction ) {
	overflow: auto;
	resize: $direction; 
}

// Size
// @source base/mixins/_utilities.scss
// --------------------------------------------------

@mixin m-size( $width, $height ) {
	height: $height;
	width: $width;
}

// Square
// @source base/mixins/_utilities.scss
// --------------------------------------------------

@mixin m-square( $size ) {
	@include size( $size, $size );
}

